
<div class="flex-row d-flex h-100 w-100">

  <app-map class="h-100 flex-grow-1"></app-map>

  <div class="h-100 middle-panel-width m-3">

      <form class="w-100 flex-grow-1" id="input-form" novalidate>

        <div class="input-group">
          <span class="input-group-text">Longitude</span>
          <input type="text" aria-label="Longitude" class="form-control" value={{mapView.centre.lng.toFixed(5)}} disabled>
          <span class="input-group-text">Latitude</span>
          <input type="text" aria-label="Latitude" class="form-control" value={{mapView.centre.lat.toFixed(5)}} disabled>
          <div class="w-100 small warning">text that will never show</div>
        </div>

        <div class="input-group my-2">
          <span class="input-group-text">Location name</span>
          <input type="text" class="form-control" [(ngModel)]="formSiteName" name="locationName" [ngClass]="{'invalid': (invalidSiteName() && isSubmitPressed)}">
          <div class="w-100 small warning" [ngClass]="{'show-warning': (invalidSiteName() && isSubmitPressed)}">Give the site a name</div>
        </div>

        <div class="input-group my-2">
          <span class="input-group-text">Site Type</span>
          <select class="form-select" id="inputGroupSelect01" [(ngModel)]="formSiteType" name="typeSelector"  [ngClass]="{'invalid': (invalidSiteType() && isSubmitPressed)}">
            <option *ngFor="let type of formTypesList" [value]="type">{{type}}</option>
          </select>
          <div class="w-100 small warning" [ngClass]="{'show-warning': (invalidSiteType() && isSubmitPressed)}">Select the type of site</div>
        </div>

        <div class="input-group my-2">
          <span class="input-group-text">Site Description</span>
          <textarea type="text" placeholder = "blah" id="siteDesciption" class="form-control" [(ngModel)]="formSiteDescription" name="siteDesciption"  [ngClass]="{'invalid': (invalidSiteDescription() && isSubmitPressed)}"></textarea>
          <div class="w-100 small warning" [ngClass]="{'show-warning': (invalidSiteDescription() && isSubmitPressed)}">Enter a short description of the site</div>

        </div>

        <!--
        <div class="input-group">
          <span class="input-group-text">Visibility</span>
          <input type="number" step="0.5" min="0.5" class="form-control w-50" [(ngModel)]="formInputViz" name="visibility"  [ngClass]="{'invalid': showInvalidVisibility()}">
          <select class="form-select" id="inputGroupSelect01" [(ngModel)]="formInputUnits" name="unitSelector">
            <option *ngFor="let unit of formUnitsList" [value]="unit">{{unit}}</option>
          </select>
          <div class="w-100 small warning" [ngClass]="{'show-warning': showInvalidVisibility()}">Enter a positive number in steps of 0.5</div>
        </div>

        <div class="input-group my-2">
          <span class="input-group-text">Date</span>
          <input type="date" max={{formMaxDate}} min={{formMinDate}} aria-label="Date" class="form-control" [(ngModel)]="formInputDate" name="date"  [ngClass]="{'invalid': showInvalidDateTime()}">
          <span class="input-group-text">Time</span>
          <input type="time" aria-label="Time" class="form-control" [(ngModel)]="formInputTime" name="time"  [ngClass]="{'invalid': showInvalidDateTime()}">
          <div class="w-100 small warning" [ngClass]="{'show-warning': showInvalidDateTime()}">Enter a valid date and time</div>
        </div> -->

        <!-- <div class="input-group my-2">
          <span class="input-group-text">Comments</span>
          <textarea type="date" placeholder = "eg state of tide, weather conditions, water temp etc" aria-label="Comments" class="form-control" [(ngModel)]="formInputComments" name="comments"></textarea>
        </div> -->



        <div class="w-50 mx-auto">

          <button class="m-2 btn-width btn btn-outline-secondary btn-block" type="button" (click)="onCancel()">Cancel</button>
          <button class="m-2 btn-width btn btn-primary btn-block" type="submit" (click)="onSave()">Save</button>
        </div>


      </form>

    </div>
  </div>
