
.select-width {
  width: auto;
}

.btn-width {
  width: 75px;
}

.invalid {
  border-color: #e06c6c;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(224, 108, 108, 0.5);
}

.valid {
  border-color: lightgreen;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(224, 108, 108, 0.5);
}

.warning {
  color: red;
  text-align: right;
  visibility: hidden;
}

.show-warning {
  visibility: visible;
}


.middle-panel-width {
  width: 400px;
}
