.menu {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  font-size: large;
  color: darkblue;
  cursor: pointer;
  transition: transform .2s; /* Animation */
}

.menu:hover {
  transform: scale(1.05);
}
