
<!-- <div class="menu m-1 p-2" data-bs-toggle="modal" data-bs-target="#create-record-popup">Add Record</div>

<div class="modal fade" id="create-record-popup" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header m-0 p-2">
        <h3 class="modal-title w-100 text-center">Add new record</h3>
      </div>
      <div class="modal-body">
        <app-create-record></app-create-record>
      </div>
    </div>
  </div>
</div> -->

<div class="menu m-1 p-2" (click)="onClick()">Add Record</div>
