#map {
  /* border: 1px red solid; */
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  /* border: 1px red solid;
  border-radius: 0px; */
  z-index: 0;
}

.menu {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  font-size: large;
  color: darkblue;
  cursor: pointer;
  transition: transform .2s; /* Animation */
  position: absolute;
  z-index: 10000;
}

.menu:hover {
  transform: scale(1.05);
}

.target {
  position: relative;
  left: calc(50% - 75px/2);
  top: calc(50% - 75px/2);
  /* border: 1px solid green; */
  height: 75px;
  z-index: 100000;
  pointer-events: none;
}
