
<div class="border d-flex flex-row m-3 h-100">


  <div class="form-panel d-flex flex-row flex-grow-1 border">

    <div class="h-100 col-6 p-2">
      <div id="map">
        <img src="../../../assets/target.png" class="target">
      </div>
    </div>

    <div class="h-100 col-6 p-2">
      <form>

        <div class="input-group my-2">
          <span class="input-group-text">Longitude</span>
          <input type="text" aria-label="Longitude" class="form-control" value={{mapPosition?.centre?.lng?.toFixed(5)}}>
          <span class="input-group-text">Latitude</span>
          <input type="text" aria-label="Latitude" class="form-control" value={{mapPosition?.centre?.lat?.toFixed(5)}}>
        </div>

        <div class="input-group my-2">
          <span class="input-group-text">Location name</span>
          <input type="text" aria-label="First name" class="form-control">
        </div>

        <div class="input-group">
          <span class="input-group-text">Visibility</span>
          <input type="text" class="form-control" aria-label="Text input with dropdown button" id="visibility">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select units</button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">m</a></li>
            <li><a class="dropdown-item" href="#">ft</a></li>
          </ul>
        </div>

        <div class="input-group my-2">
          <span class="input-group-text">Date</span>
          <input type="date" aria-label="Date" class="form-control">
          <span class="input-group-text">Time</span>
          <input type="time" aria-label="Time" class="form-control">
        </div>

        <div class="input-group my-2">
          <span class="input-group-text">Comments</span>
          <textarea type="date" aria-label="Comments" class="form-control"></textarea>
        </div>

        <div class="btn-width row no-gutters mx-auto py-2">
          <div class="col-6 pr-1">
            <button class="btn btn-sm btn-outline-secondary btn-block" type="button" (click)="onCancel()">Cancel</button>
          </div>
          <div class="col-6 pl-1">
            <button class="btn btn-sm btn-primary btn-block" type="button" (click)="onSave()">Save</button>
          </div>
        </div>

      </form>

    </div>
  </div>


  <div class="ads-panel">

  </div>

</div>
