#map {
  /* border: 1px red solid; */
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 1px red solid;
  border-radius: 0px;
}

#menu {
  position: absolute;
  background: #efefef;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
}
